
.footer {
  position: relative;
  padding-top: 6.25rem;
  border-radius: 0.3125rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../../../Assets/Images/Footer/Footer-bg.svg) left no-repeat;
  opacity: 0.1;
  z-index: -1;
}



  
  .footer ul li {
    display: flex;
    gap: 0.65rem;
  }

  .footer li
  {
    margin-bottom: 0.5rem;
  }
  
  .footer ul li::before {
    content: "\f054";
    font-family: "FontAwesome";
  }
  
  .footer-center {
    border-radius: 0.3125rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.62rem 1.44rem;
    background: #f2e401;
  }
  
  
  .bigCall
  {
      display: flex;
      gap: 1.44rem;
      align-items: center;
      
  }
  
  .copyright
  {
    padding-block: 1.88rem;
    display: flex !important;
    justify-content: space-between;
  }
  
  .copy-right
  {
    justify-content: end;
   gap: 1.19rem;
  }
